div(ng-include='"components/navbar/navbar.html"')
  
.container
  .row
    .col-lg-12
      h1.page-header Create Artist
      form.css-form(novalidate)
        .input-group
          span#basic-addon1.input-group-addon Name
          input.form-control(type='text', placeholder='Artist Name', aria-describedby='basic-addon1', ng-model="a.artistName", required)
        br
        .input-group
          span#basic-addon1.input-group-addon Website
          input.form-control(type='text', placeholder='Artist Website', aria-describedby='basic-addon1', ng-model="a.artistWebsite")
        br
        .input-group
          | Artist genre/s
          select(multiple, ng-model="a.selectedGenres", style="width: 100%;")
            option(ng-repeat="genre in musicGenres", value="{{genre._id}}") {{ genre.name }}
        br
        .input-group
          input.form-control(type='submit', ng-click="createArtist(a)" value="Save")
        .input-group
      br
      div(class="alert alert-danger", role="alert", ng-show="error")
        span(class="sr-only")
        | Error
      div(class="alert alert-success", role="alert", ng-show="success")
        span(class="sr-only")
        | Success
