div(ng-include='"components/navbar/navbar.html"')
  
.container
  .row
    .col-lg-12
      h1.page-header Events coming
      table(class="table table-striped")
        thead
          tr
            td
              p
            td
              p
        tbody
          tr(ng-repeat="event in events")
            td 
              p {{event.title}}
            td 
              p {{event.date}}
                