div(ng-include='"components/navbar/navbar.html"')
  
.container
  .row
    .col-lg-12
      h1.page-header Create an event
      form.css-form(novalidate)
        .input-group
          span#basic-addon1.input-group-addon Title
          input.form-control(type='text', placeholder='Event Title', aria-describedby='basic-addon1', ng-model="e.eventTitle", required)
        br
        .input-group
          span#basic-addon1.input-group-addon 02/03/2015
          input.form-control(type='text', placeholder="Event Date", aria-describedby='basic-addon2', ng-model="e.eventDate", required)
        br
        .input-group
          | Artists
          select(multiple, ng-model="e.selectedArtist", style="width: 100%;")
            option(ng-repeat="artist in artists", value="{{artist._id}}") {{ artist.name }}
        br
        .input-group
          | Places
          select(ng-model="e.selectedPlace", style="width: 100%;")
            option(ng-repeat="place in places", value="{{place._id}}") {{ place.name }}
        br
        .input-group
          input.form-control(type='submit', ng-click="createEvent(e)" value="Save")
        br
        div(class="alert alert-danger", role="alert", ng-show="error")
          span(class="sr-only")
          | Error
        div(class="alert alert-success", role="alert", ng-show="success")
          span(class="sr-only")
          | Success
