div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 NightMe Application
    p.lead Kick-start your next Electronic Music event
    img(src='assets/images/nightme.png', alt='Nightme', class="img-responsive", style="display: inline-block;")

footer.footer
  .container
    p
      | NightMe ©2015 All rights reserved.
      br
      a(href='https://facebook.com/NightMeApp', target="_blank")
        i(class="fa fa-facebook fa-2x")
      a(href='https://twitter.com/NightMeApp', target="_blank") 
        i(class="fa fa-twitter fa-2x")