div(ng-include='"components/navbar/navbar.html"')
  
.container
  .row
    .col-lg-12
      h1.page-header Events coming
      table(class="table table-striped")
        thead
          tr
            td
              p Title
            td
              p Date
            td
              p Actions
        tbody
          tr(ng-repeat="event in events")
            td 
              p {{event.title}}
            td 
              p {{event.date}}
            td
              a(ng-href="#" ng-click="deleteEvent(event._id)")
                i(class="fa fa-times fa-2x", style="cursor: pointer;margin-right: 10px;")
              a(ng-href="/admin/events/update/{{event._id}}")
                i(class="fa fa-pencil-square-o fa-2x", style="cursor: pointer;")
.container
  .row
    .col-lg-12
      button(type="button", class="btn btn-default btn-lg", ng-click="getAllEvents()") Refresh
