div(ng-include='"components/navbar/navbar.html"')
  
.container
  .row
    .col-lg-12
      h1.page-header Artists list
      table(class="table table-striped")
        thead
          tr
            td
              p Name
            td
              p Genres
            td
              p Actions
        tbody
          tr(ng-repeat="artist in artists")
            td 
              p {{artist.name}}
            td 
              p(ng-repeat="genre in artist._genres") {{genre.name}}
            td
              a(ng-href="#" ng-click="deleteArtist(artist._id)")
                i(class="fa fa-times fa-2x", style="cursor: pointer;margin-right: 10px;")
              a(ng-href="/admin/artists/update/{{event._id}}")
                i(class="fa fa-pencil-square-o fa-2x", style="cursor: pointer;")
.container
  .row
    .col-lg-12
      button(type="button", class="btn btn-default btn-lg", ng-click="getAllArtists()") Refresh
